@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.navbar {
  display: flex;
  box-shadow: 0 0 2px 0 grey;
  align-items: center;
  background-color:#37af5d;
  color: white;
}

.item{
  padding: 30px;
  text-decoration: none;
  font-weight:bold;
  color: black;
  margin: 0 0 0 auto;
  margin-right: 3rem;
}

.logo {
  display: flex;
  margin-left: 3rem;
  text-align: center;
}

.headerText{
  display: flex;
  text-align: center;
  align-items: center;
  color: black;
  font-size: 35px;
}

.logo_image {
  max-width: 40px;
  margin-right: 5px;
}

.group {
  display:flex;
  align-items: center;
}

.sub{
  font-size: 0.8em;
}

.material_icons {
  font-size:1.8rem;
}